<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2yhUgApThLEeJIgHqO9Klg8uUzlFRnJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>337947753623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cabBookingCustomer</string>
	<key>PROJECT_ID</key>
	<string>cabbooking-aed5a</string>
	<key>STORAGE_BUCKET</key>
	<string>cabbooking-aed5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337947753623:ios:513b37415a43caf815fdd2</string>
	<key>DATABASE_URL</key>
	<string>https://cabbooking-aed5a-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>